<div class="postCardContainer">
    <div class="postCardRow" >
        <div class="postCardFormat" style="text-align: center" *ngFor="let result of postcards">
            <a [routerLink]="['/postcards/' + result.postcardID]" target="_blank">
            <div class="postCardContent">
            <img src="{{result.imageURL}}" width="350px" height="350px" id="postcardImage"/>
                <div class="overlay">        
                    <p>{{result.email}}</p>         
                    <p>{{result.postcardID}}</p>
                    <p>{{result.title}}</p>
                    <p>{{result.description}}</p>
                    <p>Rating: {{result.rating}}</p>
                    <p>Cost: {{result.cost}}</p>
                    <p>Location: {{result.activityLocation}}</p>
                    <p>City: {{result.activityCity}}</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>