<!--The content below is only a placeholder and can be replaced.-->
<div class="headerContainer" id="home">
  <a [routerLink]="['/']">
    <img id="logo" src="https://goo.gl/rB1X55" alt="" height="70px" />
  </a>

  <button type="button">Log In</button>
  
  <a [routerLink]="['/collections']">
    <button type="button">Collections</button>
  </a>

  <a [routerLink]="['/postcards']">
    <button type="button">Postcards</button>
  </a>

  <button type="button">Post</button>
  
  <div class = "searchContainer">
    <input type="text" placeholder="Search a location...">
    <button type="submit"><i class="fa fa-search" id="searchIcon"></i></button>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footerContainer" id="footerContainer">
<img src="https://goo.gl/rB1X55" alt="" height="70"/>
<p>Copyright 2018</p>
</div>