<!--The content below is only a placeholder and can be replaced.-->
<div class="headerContainer" id="home">
  <img id="logo" src="assets/images/logo.png" alt="" height="70px" />
  <a href="/collections" class="w3-button w3-black">Collection Button</a>
  <button type="button">Log In</button>
  <button type="button">Collections</button>
  <button type="button">Postcards</button>
  <button type="button">Post</button>
  <div class = "searchContainer">
    <input type="text" placeholder="Search a location...">
    <button type="submit"><i class="fa fa-search" id="searchIcon"></i></button>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footerContainer" id="footerContainer">
<img src="assets/images/logo.png" alt="" height="70"/>
<p>Copyright 2018</p>
</div>