/* Switch View Section */
.switchViewContainer {
    height: 100px;
    background: #61a4e3;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.switchViewContainer button {
    background-color: #ff9900;
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    float: center; 
    width: 7%
}

/* Instruction Section */
.instructionsContainer {
    text-align: center;
    padding: 20px;
}

.rowInstructions {
    display: inline-flex;
}

.instructionBox {
    color: white;
    padding: 10px;
    height: 300px;
    width: 250px;
    background: #ff9900;
    display: inline-block;
    margin: 10px 40px;
}

.fas {
    font-size: 70px;
}

.far {
    font-size: 70px;
}

.instructionBox h2 {
    font-style: oblique;
}

.instructionBox p {
    padding-top: 15px;
}

/* Popular Destination Section */
.popDestinationContainer {
    text-align: center;
    padding: 20px;
    background: #293339;
    height: 100%px;
    padding: 20px 0px 35px 0px;
}

.destinationBox {
    color: white;
    display: inline-block;
    margin: 10px 0px;
}

.popDestinationContainer h1 {
    color: white;
}

/* Popular Destination Section */
.postCardContainer {
    text-align: center;
    color: white;
    padding: 20px;
    background: #293339;
    padding: 20px 0px 35px 0px;
}

.postCardFormat {
    text-align: center;
    color: white;
    padding: 5px 10px;
    background-color: black;
    width: 350px;
    margin: 0px 20px;
}

.postCardRow {
    margin: 10px;
    display: inline-flex;
}