<div class="collectionsContainer">
    <div class="collectionsRow" >
        <div class="collectionsFormat" *ngFor="let result of collections">
            <div class="collectionsContent">
              <img src="{{result.imageURL}}" width="850px"/>
              <div class="collectionDescription"> 
                  <p id = "collectionTitle">{{result.title}}</p>
                  <p id = "label">{{result.description}}</p>
              </div>   
            </div>
        </div>
    </div>
</div>