<!--<div class="instructionsContainer" id="instructionsContainer">-->
  <div>
    <h1>How It Works</h1>
    <div class="rowInstructions">
      <div class="instructionBox">
        <h2>Step 1</h2>
        <i class="fas fa-search"></i>
        <hr/>
        <p>
          Want to plan your next adventure? Enter a city you want to 
          travel to in the search bar above.
        </p>
      </div>
      <div class="instructionBox">
        <h2>Step 2</h2>
        <i class="fas fa-binoculars"></i>
        <hr/>
        <p>
          Discover postcards posted by other travelers, like yourself. 
          Feel free to post your own as well!
        </p>
      </div>
      <div class="instructionBox">
        <h2>Step 3</h2>
        <i class="far fa-bookmark"></i>
        <hr/>
        <p>
          Add postcards to your collection of items. Or,
          view collections that other travelers have previously created.
        </p>
      </div>
      <div class="instructionBox">
        <h2>Step 4</h2>
        <i class="fas fa-clipboard-list"></i>
        <hr/>
        <p>
          Export a collection to a printable document, that way 
          you can take your to-do bucket list on your next adventure.
        </p>
      </div>

      <p>
        <a [routerLink]="['/postcards']" class="btn btn-lg btn-primary" role="button">Let's get started!</a>
      </p>
    </div>
  </div>
  