/* Popular Destination Section */
.postCardContainer {
    text-align: center;
    padding: 20px;
    background: #293339;
    padding: 20px 0px 35px 0px;
}

.postCardRow {
    margin: 20px 425px;
    display: flex;
    flex-wrap: wrap;
}

.postCardContent {
    width: 500px;
    height: 110px;
    position: relative;
    background-color: white;
    margin-left: 70px;
    padding: 15px;
    margin-top: 20px;
}

.postCardFormat {
    text-align: center;
    color: black;
    padding: 5px 10px;
    margin: 10px 20px;
}

.overlay {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    transition: .5s ease;
    text-align: center;
    background-color: white;
    color: black;
    padding: 35px 10px;
  }

  .postcardInfo {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }


  #collectionTitle {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    color: #1e5270;
}

#label {
    font-style: italic;
}