<div class="postCardContainer">
        <div class="postCardRow" >
            <div class="postCardFormat" style="text-align: center">
                <img src={{imageURL}} width="350px" height="350px">
                <div class="postCardContent">
                        <p>{{postcardID}}</p>
                        <p>{{title}}</p>
                        <p>{{description}}</p>
                        <p>Rating: {{rating}}</p>
                        <p>Cost: {{cost}}</p>
                        <p>Location: {{activityLocation}}</p>
                        <p>City: {{activityCity}}</p>
                    </div>
            </div>
        </div>
    </div>