<div class="collectionsContainer">
    <div class="collectionsRow" >
        <div class="collectionsFormat" *ngFor="let result of collections">
                <a [routerLink]="['/collections/' + result.collectionID]" target="_blank">
            <div class="collectionsContent">
              <img src="{{result.imageURL}}" width="850px"/>
              <div class="collectionDescription"> 
                  <p>{{result.collectionID}} - {{result.title}}</p>
                  <p>{{result.description}}</p>
              </div>   
            </div>
            </a>
        </div>
    </div>
</div>