/* Popular Destination Section */
.collectionsContainer {
    text-align: center;
    padding: 20px;
    background: #293339;
    padding: 20px 0px 35px 0px;
}

.collectionsContent {
    position: relative;
}

.collectionsFormat {
    text-align: center;
    color: black;
    padding: 5px 10px;
    width: 850px;
    margin: 50px 320px;
}

.collectionDescription {
    position: absolute;
    bottom: -30px;
    left: 210px;
    width: 400px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
